.dq-select {
  .MuiFormControl-root {
    width: 100%;
    margin: 0;
  }
  .MuiInputBase-root {
    &.Mui-focused {
      fieldset {
        border-color: rgba(0, 0, 0, 0.23);
      }
    }
  }
  .MuiFormLabel-root,
  .MuiInputBase-root,
  .MuiSelect-select,
  .MuiInputBase-input {
    font-size: 14px;
  }
}
.MuiList-root {
  .MuiButtonBase-root {
    font-size: 13px;
  }
}
