.form-textfield {
  .MuiInputBase-root {
    border: none;
    &:after,
    &:before {
      border: none !important;
    }
    .MuiInputBase-input {
      border: solid 1px #d9d9d9;
      padding: 8px 12px 8px 12px;
      border-radius: 2px;
      font-size: 14px;
      line-height: 14px;
    }
  }
  &.login-input {
    .MuiInputLabel-root {
      color: #ffffff;
    }
    .MuiInputBase-input {
      background-color: #ffffff;
    }
  }
}

@media (min-width: 1281px) {
  .form-textfield {
    .MuiInputBase-root {
      border: none;
      &:after,
      &:before {
        border: none !important;
      }
      .MuiInputBase-input {
        border: solid 1px #d9d9d9;
        padding: 8px 12px 8px 12px;
        border-radius: 2px;
        font-size: 14px;
        line-height: 14px;
      }
    }
    .MuiInputLabel-root {
      font-size: 14px;
    }
    &.login-input {
      .MuiInputLabel-root {
        color: #ffffff;
      }
      .MuiInputBase-input {
        background-color: #ffffff;
      }
    }
  }
}
