@import "../../../assets/scss/mixins";

.stepper {
  display: flex;
  align-items: center;
  margin: 10px;
}

.step {
  padding: 10px 20px;
  margin-right: -30px;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #9a9a9a;
  clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
  font-weight: 600;
  width: 17%;
  // border: 1px solid #9a9a9a;
  font-weight: 600;
}

.step.completed {
  background-color: #082340;
  color: white;
  font-weight: 600;
}

.step.active {
  clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
  font-weight: 600;
  background-color: $primary-btn-color;
}
