.dq-radio-buttons {
  .MuiFormControlLabel-root {
    .MuiTypography-root {
      font-size: 14px;
      color: #313131;
      padding-top: 8px;
    }
  }
  .MuiFormLabel-root {
    font-size: 13px;
    color: #313131;
  }
}
