.dq-form-textarea {
  .MuiFormControl-root {
    textarea {
      width: calc(100% - 30px) !important;
      border: solid 1px #d9d9d9;
      padding: 8px 12px 8px 12px;
      border-radius: 2px;
      font-size: 14px;
      resize: vertical;
      min-height: 60px;
      max-height: 120px;
      outline: none;
    }
  }
}
