@import "../../../assets/scss/mixins";

.MuiTabs-root {
  min-height: 35px !important;
  .MuiTab-root {
    border: solid 1px #d5d5d5;
    border-bottom-color: transparent;
    margin-right: 5px;
    padding: 5px 16px;
    min-height: 35px;
    text-transform: none;
    border-radius: 3px 3px 0 0;
    &:hover {
      color: $secondary-color;
    }
    &.Mui-selected {
      color: $primary-color-active;
    }
  }
  .MuiTabs-list {
    border-bottom: solid 1px #d5d5d5;
  }
  .MuiTabs-indicator {
    display: none;
  }
}
