.dq-input {
  display: flex;
  width: 100%;
  .search-input {
    &.MuiInputBase-root {
      border: none;
      &:after,
      &:before {
        border: none !important;
      }
      .MuiInputBase-input {
        border-radius: 2px;
        font-size: 16px;
        line-height: 14px;
      }
    }
  }
}
